    .html, body {
            margin: 0;
            padding: 0;
            scrollbar-width: none;
        }
        body {
            background-color: #eae8e0;
        }
    
    .border {
        padding: 15px;
        margin: 0;
        display: flex;
        align-items: center;
        background-color: #b6ac9f;
    }

    .page {
        text-decoration: none;
        font-size : 120%;
        color: #4f443d;
        margin-right: 12px;
    }

    .pagesbar {
        display:flex;
        margin-left:auto;
        gap:10px;
        align-items:center;
    }
        
    .logo {
        margin-right: 8px;
        width: 40px;
        height: auto;
    }

    .pagetitle{
        font-size:120%;
    }